<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
            
    <div style="margin-top: 50px; margin-left: 45%;">
        <div class="content-wrapper">
            <div class="row page-title-header">
                <form  method="post">{% csrf_token %}
                    <div class="form-group ro">
                        <p>Are you sure you want to delete "{{ object }}"?</p>
                        <input type="submit" value="Confirm">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>